@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist;
<h2>Edit Stylist Details</h2>
<hr />
<div class="my-4 row justify-content-center">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Specialty)
      @Html.TextBoxFor(model => model.Specialty, new { @class = "form-control"})
    </div>
    <div class="form-group">
      <label for="HourlyRate">Hourly Rate</label>
      @Html.TextBoxFor(model => model.HourlyRate, new { @class = "form-control"})
    </div>
    <div class="text-center">
      <input type="submit" value="Save Changes" class="btn btn-outline-success">
    </div>
  }
</div>

@Html.ActionLink("Back", "Index", "Stylists", new {}, new { @class = "btn btn-outline-primary" })
