@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Stylist>;
@using HairSalon.Models;
<h2>View Stylists</h2>
<hr />

@if (@Model.Count == 0)
{
  <h3>You haven't added any stylists yet!</h3>
  <p>Click below to add a new stylist.</p>
}
<div class="row justify-content-center">
  @foreach (Stylist stylist in Model)
  { 
    <div class="stylist-container my-3">
      @Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId}, new { }) 
      <p>Specialty <br> <strong>@stylist.Specialty</strong></p>
    </div>
  }
</div>

<hr />
@Html.ActionLink("Add Stylist", "Create", new {}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Home", "Index", "Home", new {}, new { @class = "btn btn-outline-primary" })