@{
  Layout = "_Layout";
}
@using System.Collections.Generic;
@using HairSalon.Models;
@model HairSalon.Models.Client;

<h2 class="my-2">Add Client</h2>
<div class="my-5 row justify-content-center">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.HairType)
      @Html.TextBoxFor(model => model.HairType, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Stylist)
        @Html.DropDownList("StylistId")
    </div>
    <div class="text-center">
          <input type="submit" value="Add Stylist" class="btn btn-outline-success" />
    </div>
  }
</div>
<hr />
@Html.ActionLink("View Stylist", "Index", new {}, new { @class = "btn btn-outline-primary" })

@* Try to get the bellow working for a better looking dropdown

 @Html.DropDownListFor(model => model.Stylist, ViewBag.StylistId as SelectList, new { @class = "form-controll"} ) *@

@* @Html.DropDownList("StylistId") *@
