@{
  Layout = "_Layout";
}
@using System.Collections.Generic;
@using HairSalon.Models;
@model HairSalon.Models.Client;

<h2>Edit Client Details</h2>
<div class="my-4 row justify-content-center">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.HairType)
      @Html.TextBoxFor(model => model.HairType, new { @class = "form-control"})
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")
    </div>
    <div class="text-center">
      <input type="submit" value="Save Changes" class="btn btn-outline-success">
    </div>
  }
</div>
<hr />
@Html.ActionLink("View Stylist", "Index", new {}, new { @class = "btn btn-outline-primary" })
